@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.signup {
  min-height: 100vh;
  background: #eee;
  display: flex;
  font-family: poppins;
}
.signupcontainer {
  margin: auto;
  height: 570px;
  width: 500px;
  max-width: 90%;
}
.signupcontainer form {
  width: 100%;
  height: 100%;
  padding: 20px;
  background: white;
  border-radius: 21px;
  box-shadow: 4px 4px 50px 20px rgba(0, 0, 0, 0.3);
}

.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5px;
}
.signupcontainer form h1 {
  text-align: center;
  margin-bottom: 5px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 45px;
  color: #888888;
}
form .txtfield {
  /* position: relative; */
  margin: 20px 20px 30px 50px;
}
.txtfield input {
  width: 370px;
  padding: 0px 10px;
  height: 45px;
  margin-left: auto;
  margin-right: auto;
  font-size: 20px;
  border: none;
  background: #c4c4c4;
  border-radius: 10px;
  color: black;
}
.signupbutton {
  width: 212px;
  height: 50px;
  /* position: relative; */
  margin-left: 120px;
  margin-right: 120px;
  background: #ffe500;
  border-color: #ffe500;
  border-radius: 10px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 45px;
}
