@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins;
}
.landing {
  background-color: #eeeeee;
}

.smallLogo {
  size: 20px;
}
.welcome {
  font-size: 30px;
}
.bigLogo {
  position: relative;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  width: 60%;
}
.motto {
  position: relative;
  padding: 5px;
  text-align: center;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
}

.buttons {
  display: flex;
  padding: 5px;
  justify-content: center;
  align-items: center;
}
.button {
  width: 160px;
  height: 45px;
  background: #848484;
  border-color: #848484;
  color: white;
  border-radius: 10px;
  margin: 5px;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
}
.secondcontainer {
  background-color: white;
}
.secondcontainer img {
  position: relative;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  padding-top: 40px;
  width: 15%;
}
.secondcontainer h1 {
  text-align: center;
}
.secondcontainer p {
  padding: 10px;
  text-align: center;
  padding-bottom: 40px;
}

.thirdcontainer img {
  position: relative;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  padding-top: 40px;
  width: 15%;
}
.thirdcontainer h1 {
  text-align: center;
}
.thirdcontainer p {
  padding: 10px;
  text-align: center;
  padding-bottom: 40px;
}
.fourthcontainer {
  background-color: white;
}
.fourthcontainer h1 {
  padding-top: 40px;
  text-align: center;
}

.footer {
  background-color: black;
  padding: 12px;
}
.footer p {
  background-color: black;
  text-align: center;
  color: white;
}
