.footerContainer {
    margin-top: 50px;
}
.listBlock {
    padding: 20px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.addNewExamContainer {
    font-family: "Poppins", sans-serif;
    margin: 70px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.addNewExamContainer h1 {
    letter-spacing: -1px;
}

.newExamInputContainer {
    padding: 10px;
    margin: 20px;
    border-radius: 10px;
    background-color: #c4c4c4;
}

.inputRow {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

input,
select {
    margin: 5px;
    height: 40px;
    /* width: 200px; */
    padding: 5px 10px;
    border-radius: 5px;
    border-width: 0px;
}
.formText {
    padding: 0px 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.addButton {
    font-weight: 700;

    height: 40px;
    padding: 0px 15px;
    width: fit-content;
    margin: 4px;

    border-width: 0px;
    border-radius: 6px;
    background-color: #ffe600;
}
.addButton:focus {
    outline: none;
}
.addButton:active {
    color: white;
    background-color: #838383;
}
