/* Candidate Login */
.input {
    font-family: "Poppins", sans-serif;

    text-align: center;
    border-radius: 10px;
    border-width: 0px;
    font-size: small;
    height: 40px;
    background-color: #c4c4c4;
}
.button {
    cursor: pointer;
    font-weight: 700;

    height: 40px;
    padding: 0px 20px;
    width: fit-content;
    margin: 10px 0px;

    border-width: 0px;
    border-radius: 6px;
    background-color: #ffe600;
}
.button:hover {
    background-color: #ddc700;
}
.button:focus {
    outline: none;
}
.button:active {
    color: white;
    background-color: #838383;
}

a {
    font-size: small;
}
a:hover {
    text-decoration: none;
    color: black;
}

.border {
    border-radius: 20px;
}

@media screen and (max-width: 600px) {
    .formBoxBackground {
        height: 100vh;
        background-color: white;
    }
    .border {
        box-shadow: none !important;
    }
}

/* end of candidate login */

/* Exam Interface */
.examPageContainer {
    font-family: "Poppins", sans-serif;
    height: 100vh;
    width: 100%;

    display: flex;
    flex-direction: column;
}
.topBar {
    width: 100%;
    height: 10%;
    background-color: #c4c4c4;

    padding-right: 25px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.logoContainer {
    height: 70px;
    width: 70px;
    overflow: hidden;
}
.logoContainer img {
    height: 100%;
    width: 100%;
}

.infoStack {
    margin: 0px 20px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    line-height: 1.1;
}
.infoName {
    font-size: 0.9em;
    font-weight: 700;
    color: #838383;
}

.colorGrey {
    color: #838383;
}

.darkgreen {
    color: #009a2e;
}
.darkviolet {
    color: #3a4eff;
}
.darkred {
    color: #d72323;
}

.buttonSubmit {
    font-weight: 700;
    font-size: 1em;
}

.questionsAttemptDetails {
    display: flex;
    flex-direction: row;
}

.mainContainer {
    display: flex;
    flex: 1;
    flex-direction: row;
    height: 90%;
}
.questionIndexList {
    width: 70px;
    max-height: 100%;
    overflow-y: scroll;
    background-color: #c4c4c4;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE 10+ */
}
.questionIndexList::-webkit-scrollbar {
    /* WebKit */
    width: 0px;
}
.questionIndex {
    cursor: pointer;
    user-select: none;

    font-size: 1.1em;
    font-weight: 800;

    border: 1px #c4c4c4 solid;
    padding: 34px;
    width: 68px;
    height: 68px;
    background-color: white;

    display: flex;
    align-items: center;
    justify-content: center;
}
.questionIndex:hover {
    border: 1px black solid;
}
.questionIndex:active {
    background-color: #7b721c;
}

.lightViolet {
    background-color: #99a3ff;
}

.lightGreen {
    background-color: #d3ffe0;
}

.lightRed {
    background-color: #ff8888;
}
.yellow {
    background-color: #ffe600;
}

/* Question Container */

.questionContainer {
    height: 100%;
    width: 90%;

    display: flex;
    justify-content: center;

    overflow: scroll;
}

.quesitonResponseCardContainer {
    width: 100%;
    padding: 50px;
    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: center;

    user-select: none;
}

.quesitonResponseCard {
    height: 100%;
    width: 100%;
}

.quesitonResponseCard_question {
    margin: 30px 0px 10px 20px;
}

.quesitonResponseCard_options {
    margin: 20px;
}

.quesitonResponseCard_options p {
    font-weight: 700;
    margin: 0px 10px;
}

.quesitonResponseCard_option {
    background-color: white;
    margin: 10px 0px;
    padding: 8px 30px;
    min-height: 60px;

    display: flex;
    flex-direction: row;

    align-items: center;
    border-radius: 8px;

    overflow-wrap: break-word;
}

.quesitonResponseCard_option i {
    margin: 10px 10px;
}
.option {
    cursor: pointer;
    border: 3px solid;
    border-color: white;
}

.option:hover {
    border-color: #b8e4c4;
}

.option:active {
    border-color: #838383;
}

.optionChecked {
    background-color: #d3ffe0;
    border-color: #009a2e;
}
.optionChecked:hover {
    border-color: #007523;
}

.quesitonResponseCard_buttons {
    display: flex;
    justify-content: center;
}

.quesitonResponseCard_buttons button {
    margin: 10px;
}

.examControlButtons {
    min-width: 150px;
}

.confirmButton {
    cursor: pointer;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 1em;

    height: 50px;
    padding: 0px 20px;
    width: fit-content;
    margin: 4px;

    border-width: 0px;
    border-radius: 6px;
    background-color: #ffe600;
}
.confirmButton:hover {
    background-color: #ddc700;
}
.confirmButton:focus {
    outline: none;
}
.confirmButton:active {
    color: white;
    background-color: #838383;
}

.markButton {
    background-color: #99a3ff;
}
.markButton:hover {
    background-color: #7d8aff;
}

@media screen and (max-width: 900px) {
    .topBar {
        padding-right: 5px;
    }
    .questionsAttemptDetails {
        display: none;
    }
    .mainContainer {
        width: 100%;
        flex-direction: column;
    }
    .questionIndexList {
        width: auto;
        display: flex;
        flex-direction: row;
    }
    .questionContainer {
        width: 100%;
    }
    .quesitonResponseCardContainer {
        padding: 5%;
    }
    .quesitonResponseCard_buttons {
        flex-direction: column;
        align-items: center;
    }
    .quesitonResponseCard_buttons button {
        width: 80%;
    }
}

/* end of exam Interface */

/* Result page */
.resultPage {
    font-family: "Poppins", sans-serif;
}
.reportContainer {
    margin: 80px;
    height: fit-content;
}
.reportContainer img {
    height: auto;
    width: 300px;
}
.reportDate {
    margin: 0px 20px;
}
.displayAsRow {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.displayAsRow * {
    margin: 0px 5px;
}
.candidateInfo {
    margin: 40px 20px;
}
.candidateInfoMobile {
    margin: 40px 20px;
    display: none;
}
.infograph td {
    padding: 10px;
}
.infoBarContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.infoBar {
    margin: 0px 10px;
    height: 20px;
    background-color: black;
}
.examinerInfo {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

@media screen and (max-width: 650px) {
    .reportContainer img {
        height: auto;
        width: 100%;
    }
    .reportContainer {
        text-align: center;
    }
    .candidateInfo {
        display: none;
    }
    .candidateInfoMobile {
        display: inline;
    }
    .examinerInfo {
        align-items: center;
    }
    .infograph {
        margin: 40px 0px;
    }
}
