@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

html,
body {
  background-color: #eee;
}

.box {
  box-shadow: 2px 2px 10px 10px #acacac;
  border-radius: 10px;
  background-color: #fff;
}

.btnLogin {
  min-width: 25%;
  min-height: 35px;
  background-color: gold;
  border: none;
  border-radius: 7px;
  font-size: large;
  font-weight: 1000;
}

.header {
  color: #696969;
  font-weight: bold;
  font-size: large;
}

.inputBox {
  background-color: #b4b4b4;
}
